<!DOCTYPE html>
{% extends "base.html"%}
{% load staticfiles %}
{% load webp %}
      {% block body_block %}
      <style>
      ul li{
       font-size: 200%;
      }
      </style>
      <link rel="stylesheet" type="text/css" href="{% static "payment.css" %}">
      <div class="parallax-window" style="height:200%;" data-parallax="scroll" data-image-src="{% webp "fourseasons-lawn-Care.jpeg" %}">
        <br><br><br><br><br><br>


<div>
</div>

<div style="text-align:center;">
  <!--<h2>Buy for $5.00</h2>
<form action="{% url 'charge' %}" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="A Django Charge"
          data-amount="500"
          data-locale="auto"></script>
</form>-->
<!--<script src="https://js.stripe.com/v3"></script>

<form action="{% url 'charge' %}" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="{{ key }}"
    data-name="Four Seasons Lawn Care"
    data-description="Payment Form"
    data-amount="{{ORDER_AMOUNT}}"
    data-currency="usd"
    data-locale="auto"
    data-address="">

  </script>
</form>-->



<script src="https://js.stripe.com/v3/"></script>
<form action="{% url 'charge' %}" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="{{ key }}"
    data-name="Four Seasons Lawn Care"
    data-description="Payment Form"
    data-amount="{{ORDER_AMOUNT}}"
    data-currency="usd"
    data-locale="auto"
    data-address="">

  </script>
</form>







  <div class="container-fluid py-3">
      <div class="row">
          <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
              <div id="pay-invoice" class="card">
                  <div class="card-body">
                      <div class="card-title">
                          <h3 class="text-center">Pay Invoice</h3>
                      </div>
                      <hr>
                      <form action=action="{% url 'charge' %}" method="post" novalidate="novalidate" class="needs-validation">


                          <div class="form-group">
                              <label for="cc-number" class="control-label mb-1">Card number</label>
                              <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" required autocomplete="off"  >
                              <span class="invalid-feedback">Enter a valid 12 to 16 digit card number</span>
                          </div>
                          <div class="row">
                              <div class="col-6">
                                  <div class="form-group">
                                      <label for="cc-exp" class="control-label mb-1">Expiration</label>
                                      <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" required placeholder="MM / YY" autocomplete="cc-exp">
                                      <span class="invalid-feedback">Enter the expiration date</span>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <label for="x_card_code" class="control-label mb-1">CVV</label>
                                  <div class="input-group">
                                      <input id="x_card_code" name="x_card_code" type="tel" class="form-control cc-cvc" required autocomplete="off">
                                      <span class="invalid-feedback order-last">Enter the 3-digit code on back</span>
                                      <div class="input-group-append">
                                          <div class="input-group-text">
                                          <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="CVV"
                                          data-content="<div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div>"
                                          data-trigger="hover"></span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="x_zip" class="control-label mb-1">Postal code</label>
                              <input id="x_zip" name="x_zip" type="text" class="form-control" value="" data-val="true" data-val-required="Please enter the ZIP/Postal code" autocomplete="postal-code">
                              <span class="help-block" data-valmsg-for="x_zip" data-valmsg-replace="true"></span>
                          </div>
                           <div class="form-group">
                              <label for="invoice" class="control-label mb-1">Invoice Number</label>
                              <input id="invoice" name="invoice" type="text" class="form-control" value="" data-val="true" data-val-required="Please enter the Invoice Number" >
                              <span class="help-block" data-valmsg-for="x_invoice" data-valmsg-replace="true"></span>
                          </div>
                          <div class="form-group">
                             <label for="amount" class="control-label mb-1">Amount</label>
                             <input id="amount" name="amount" type="text" class="form-control" value="" data-val="true" data-val-required="Please enter the Amount you wish to pay" >
                             <span class="help-block" data-valmsg-for="x_amount" data-valmsg-replace="true"></span>
                         </div>
                          <div>
                              <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                  <i class="fa fa-lock fa-lg"></i>&nbsp;
                                  <span id="payment-button-amount">Pay </span>
                                  <span id="payment-button-sending" style="display:none;">Sending…</span>
                              </button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>


</div>
  {% if request.user_agent.is_mobile %}
      <div style="height: 30%;">
      </div>
      <link rel="stylesheet" type="text/css" href="{% static "footerMobile.css" %}">
      {% include "tfooterMobile.html" %}
  {% elif request.user_agent.is_pc %}
      <link rel="stylesheet" type="text/css" href="{% static "footerPC.css" %}">
      {% include "tfooterPC.html" %}
  {% endif %}



        <br>
        <br>
    </div>
  </div>
  <script src="{%static "payment.js" %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{%static "parallax.js" %}"></script>
  <script src="{%static "bootstrap.js" %}"></script>

  {% endblock %}
