<!DOCTYPE html>
{% extends "base.html"%}
{% load staticfiles %}
{% load webp %}
      {% block body_block %}
      <style>
      ul li{
       font-size: 170%;
      }
      </style>
      <div class="parallax-window" style="height:200%;" data-parallax="scroll" data-image-src="{% webp "fourseasons-lawn-Care.jpeg" %}">
        <br><br>
        <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 style="color:white;">Four Seasons Lawn Care</h1>
              <h3 style="color:#FFB600;">Pay Bill</h3>
              {% if error %}
                <h3 style="color:red;">{{ error }}</h3>
              {% endif %}
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.4.1/jquery.payment.js"></script>
        <script src="https://js.stripe.com/v3/"></script>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <h4><span id="card_type">Payment Details</span></h4>
              </div>
              <div class="panel-body">
                <form method="POST">
                  {% csrf_token %}
                  <div class="row text-center">
                    <div class="col-md-12">
                      <div class="outcome">
                          <div class="error"></div>
                      </div>
                    </div>
                  </div>

                  <input type="hidden" name="stripe_result" />
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="cardholder_name">Cardholder Name</label>
                        <input class="form-control input-lg" name="cardholder_name" id="cardholder_name"  type="text" data-stripe="cardholder_name" placeholder="Jimmy Dean" maxlength="255" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="address">Address</label>
                        <input class="form-control input-lg" name="address" id="address"  type="text" data-stripe="address" placeholder="Address" maxlength="255" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control input-lg" id="email" name="email" type="email" size="20" data-stripe="email" placeholder="email@example.com" maxlength="255" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Card Number</label>
                          <div id="card_number" class="field form-control"></div>
{#                        <input class="form-control input-lg" id="number" name="number" type="tel" size="20" data-stripe="number" placeholder="4242 4242 4242 4242">#}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <label>Expiry</label>
                        <div id="expiry" class="field form-control"></div>
{#                        <input class="form-control input-lg" id="cc_exp" name="cc_exp" type="tel" size="2" data-stripe="exp" placeholder="MM / YY">#}
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label>CVC</label>
                        <div id="cvc" class="field form-control"></div>
{#                        <input class="form-control input-lg" id="cvc" name="id" type="tel" size="4" data-stripe="cvc" placeholder="555" autocomplete="off">#}
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="amount">Amount</label>
                          <input class="form-control input-lg" id="amount" name="amount" type="tel" size="4" data-stripe="amount" placeholder="100.00" autocomplete="off" maxlength="255" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-lg btn-block btn-success submit" type="submit">Pay</button>
                    </div>
                  </div>
                </form>

                <script>
                    var stripe = Stripe('{{ key }}');
                    var elements = stripe.elements();

                    var style = {
                      base: {
                        iconColor: '#666EE8',
                        color: '#31325F',
                        fontWeight: 300,
                        fontSize: '20px',

                        '::placeholder': {
                          color: '#CFD7E0',
                        },
                      },
                    };

                    var cardNumberElement = elements.create('cardNumber', {
                      style: style,
                      placeholder: 'Card Number',
                    });
                    cardNumberElement.mount('#card_number');

                    var cardExpiryElement = elements.create('cardExpiry', {
                      style: style,
                      placeholder: 'MM / YY',
                    });
                    cardExpiryElement.mount('#expiry');

                    var cardCvcElement = elements.create('cardCvc', {
                      style: style,
                      placeholder: 'CVC',
                    });
                    cardCvcElement.mount('#cvc');

                    function setOutcome(result) {
                      var errorElement = document.querySelector('.error');
                      errorElement.classList.add("invisible")

                      if (result.token) {
                        // In a real integration, you'd submit the form with the token to your backend server
                        var form = document.querySelector('form');
                        form.querySelector('input[name="stripe_result"]').setAttribute('value', JSON.stringify(result));
                        form.submit();
                      } else if (result.error) {
                        errorElement.textContent = result.error.message;
                        errorElement.classList.remove('invisible');
                      }
                    }

                    cardNumberElement.on('change', function(event) {
                      setOutcome(event);
                    });

                    document.querySelector('form').addEventListener('submit', function(e) {
                      e.preventDefault();
                      var options = {
                        name: document.getElementById('cardholder_name').value,
                        address_line1: document.getElementById('address').value,
                        email: document.getElementById('email').value,
                        amount: document.getElementById('amount').value,
                      };
                      stripe.createToken(cardNumberElement, options).then(setOutcome);
                    });

                </script>
              </div>
            </div>
          </div>
        </div>


</div>


<script src="{%static "parallax.js" %}"></script>
</div>
      {% if request.user_agent.is_mobile %}
          <div style="height: 30%;">
          </div>
          <link rel="stylesheet" type="text/css" href="{% static "footerMobile.css" %}">
          {% include "tfooterMobile.html" %}
      {% elif request.user_agent.is_pc %}
          <link rel="stylesheet" type="text/css" href="{% static "footerPC.css" %}">
          {% include "tfooterPC.html" %}
      {% endif %}

        <br>
        <br>

  {% endblock %}
